@import '../../variables';

.bp3-menu {
  padding: 0;
  width: 280px;

  // first item
  li:first-child a {
    color: $light-black;
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.4px;
    line-height: 16px;

    .fa-fw {
      color: $icon-color;
    }
  }

  &-item {
    border-radius: 0;
    height: 50px;
    align-items: center;
    color: $light-grey;
    font-family: Roboto;
    font-size: 12px;
    letter-spacing: 0.4px;
    line-height: 16px;
    padding: 5px 15px 5px 7px !important;

    &:hover {
      background-color: $header-color;
      color: rgba($light-black, 0.67);
    }

    .fa-fw {
      font-size: 15px;
      margin-left: 1rem;
    }

    &:not(footer) {
      border-bottom: 1px solid $lightest-grey;
    }

    a {
      color: rgba(0, 145, 255, 1);
    }

    .full-list {
      margin-left: 1rem;
    }
  }
}

