/** @format */

$icon-color-draft: rgb(98, 54, 255);
$icon-color: rgb(51, 153, 255);
$header-color: rgb(219, 234, 249);
$header-color-draft: rgb(221, 212, 252);
$header-icon-color: rgb(0, 145, 255);

$light-black: rgba(15, 16, 17, 0.87);
$light-grey: rgba(142, 142, 147, 0.87);
$lighter-grey: rgba(218, 222, 225, 1);
$lightest-grey: rgba(240, 240, 240, 1);

%invisible-button {
  border: none;
  background: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

%tabs {
  display: grid;
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  justify-items: flex-start;
  letter-spacing: 0.15px;
  opacity: 0.87;
  .icon svg {
    font-size: 14px;
    margin-right: 0.5rem;
  }
}

@mixin multiline-css($line-clamp: 2) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line-clamp;
}

@mixin ellipsis-button {
  height: 32px;
  width: 32px;
  border: 0;
  border-radius: 4px;
  background-color: transparent;
  padding: 4px;
  align-self: center;
}

@mixin option-anchor {
  height: 48px;
}
