/** @format */
@import '../variables';

@mixin text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.breadcrumb-parent {
  position: relative;

  .current-item {
    max-width: 200px;
    @include text-ellipsis;
  }
}

.breadcrumb-nav {
  .bp3-overflow-list {
    height: 40px;
    line-height: 40px;
    margin-top: 8px;

    .parent {
      max-width: 200px;
      @include text-ellipsis;
    }

    svg {
      margin-right: 8px;
    }

    .bp3-breadcrumb {
      opacity: 0.87;
      color: #5f697a;
      font-family: Roboto;
      font-size: 12px;
      letter-spacing: 0.4px;
      line-height: 16px;
      outline: none;
    }

    .bp3-popover-target {
      display: flex;

      .single {
        cursor: default;
        outline: none;
      }

      .current-icon {
        color: $icon-color;
      }
    }

    .fa-caret-down {
      margin-left: 8px;
    }

    .bp3-transition-container {
      top: -16px !important;
      transform: none !important;
    }
  }
}
